@model HTTP5212_HospitalProject_Team1.Models.PaySlipDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>DeleteConfirm</h2>

<form action="/PaySlip/Delete/@Model.PaySlipID" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>