@model HTTP5212_HospitalProject_Team1.Models.EmployeeDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this Employee: @Model.EmployeeFirstName @Model.EmployeeLastName?</h2>
<a href="/Employee/list">Cancel</a>

<form action="/Employee/Delete/@Model.EmployeeID" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>

