@model HTTP5212_HospitalProject_Team1.Models.EmployeeDto
@{
    ViewBag.Title = "Details";
}
<a href="/Employee/List">Go back to list</a>
<a href="/Employee/Edit/@Model.EmployeeId">Update</a>
<a href="/Employee/DeleteConfirm/@Model.EmployeeId">Delete</a>

<h2>Details</h2>
<h2>@Model.EmployeeFirstName @Model.EmployeeLastName</h2>
<div>Role: @Model.EmployeeRole</div>

