@model HTTP5212_HospitalProject_Team1.Models.DepartmentDto

@{
    ViewBag.Title = "Edit";
}

<h2>Edit @Model.dept_name</h2>

<form action="/Department/Update/@Model.dept_id" method="POST" enctype="multipart/form-data">
    <div style="display:none;">
        <input type="text" name="dept_id" value="@Model.dept_id" />
    </div>

    <div>
        <label>Department Name:</label><input type="text" name="dept_name" value="@Model.dept_name" />
    </div>
    <div>
        <label>Department Description:</label><input type="text" name="dept_desc" value="@Model.dept_desc" />
    </div>

    <div>
        <button type="submit" value="Update Department">Submit</button>
        <a href="/Department/Details/@Model.dept_id">Cancel</a>
    </div>
</form>


