@model IEnumerable<HTTP5212_HospitalProject_Team1.Models.DepartmentDto>

@{
    ViewBag.Title = "List";
}

<h2>List Departments</h2>

@foreach (var Department in Model)
{
    <h3><a href="/Department/Details/@Department.dept_id">@Department.dept_name</a></h3>
    <div>@Department.dept_desc</div>
}

<a href="/Department/New" type="button">Add New Department</a>