@model HTTP5212_HospitalProject_Team1.Models.RoomDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<div class="confirm-container">
    <div>
        <h2>Are you sure you want to delete @Model.RoomNumber?</h2>
    </div>
    <div>
        <form action="/Room/Delete/@Model.RoomId" method="POST">
            <input class="btn btn-primary del-button" type="submit" value="Confirm Delete" />
            <a href="/Room/List"><input class="btn btn-primary del-button" type="button" value="Cancel" /></a>
        </form>
    </div>
</div>