@model HTTP5212_HospitalProject_Team1.Models.ViewModels.UpdateShift

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Shift Info</h2>

<a type="button" class="btn btn-warning" href="/Shift/List">Back to shift list</a>
<a href="/Shift/Details/@Model.SelectedShift.ShiftID" type="button" class="btn btn-info">Back to @Model.SelectedShift.EmployeeFirstName @Model.SelectedShift.EmployeeLastName</a>