
@{
    ViewBag.Title = "New";
}

<h2>Create Shift</h2>
<form action="/Shift/Create" method="POST">
    <div>
        <label>Employee ID:</label><input type="number" name="EmployeeID"/>
    </div>
    <div>
        <span style="font-weight:bold">Shift Time: </span>
        <input type="radio" name="ShiftTime" id="day" value="day" /><label for="day">Day</label>
        <input type="radio" name="ShiftTime" id="night" value="night" /><label for="night">Night</label>
    </div>
    <div>
        <span style="font-weight:bold">Sunday: </span>
        <input type="radio" name="ShiftSun" id="trueSun" value="true" /><label for="trueSun">True</label>
        <input type="radio" name="ShiftSun" id="falseSun" value="false" /><label for="falseSun">false</label>
    </div>
    <div>
        <span style="font-weight:bold">Monday: </span>
        <input type="radio" name="ShiftMon" id="trueMon" value="true" /><label for="trueMon">True</label>
        <input type="radio" name="ShiftMon" id="falseMon" value="false" /><label for="falseMon">false</label>
    </div>
    <div>
        <span style="font-weight:bold">Tuesday: </span>
        <input type="radio" name="ShiftTues" id="trueTues" value="true" /><label for="trueTues">True</label>
        <input type="radio" name="ShiftTues" id="falseTues" value="false" /><label for="falseTues">false</label>
    </div>
    <div>
        <span style="font-weight:bold">Wedesday: </span>
        <input type="radio" name="ShiftWed" id="trueWed" value="true" /><label for="trueWed">True</label>
        <input type="radio" name="ShiftWed" id="falseWed" value="false" /><label for="falseWed">false</label>

    </div>
    <div>
        <span style="font-weight:bold">Thursday: </span>
        <input type="radio" name="ShiftThurs" id="trueThurs" value="true" /><label for="trueThurs">True</label>
        <input type="radio" name="ShiftThurs" id="falseThurs" value="false" /><label for="falseThurs">false</label>

    </div>
    <div>
        <span style="font-weight:bold">Friday: </span>
        <input type="radio" name="ShiftFri" id="trueFri" value="true" /><label for="trueFri">True</label>
        <input type="radio" name="ShiftFri" id="falseFri" value="false" /><label for="falseFri">false</label>

    </div>
    <div>
        <span style="font-weight:bold">Saturday: </span>
        <input type="radio" name="ShiftSat" id="trueSat" value="true" /><label for="trueSat">True</label>
        <input type="radio" name="ShiftSat" id="falseSat" value="false" /><label for="falseSat">false</label>
    </div>
    <div>
        <input type="submit" value="Add Shift" />
    </div>
</form>


