@model HTTP5212_HospitalProject_Team1.Models.AppointmentDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<div class="confirm-container">
    <div>
        <h2>Are you sure you want to delete @Model.TypeOfAppointment?</h2>
    </div>
    <div>
        <form action="/Appointment/Delete/@Model.AppointmentId" method="POST">
            <input class="btn btn-primary del-button" type="submit" value="Confirm Delete" />
            <a href="/Appointment/List"><input class="btn btn-primary del-button" type="button" value="Cancel" /></a>
        </form>
    </div>
</div>