@model HTTP5212_HospitalProject_Team1.Models.PatientDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<div class="confirm-container">
    <div>
        <h2>Are you sure you want to delete @Model.FirstName</h2>
    </div>
    <div>
        <form action="/Patient/Delete/@Model.PatientId" method="POST">
            <input class="btn btn-primary del-button" type="submit" value="Confirm Delete" />
            <a href="/Patient/List"><input class="btn btn-primary del-button" type="button" value="Cancel" /></a>
        </form>
    </div>
</div>

